.banner {
  background-image: url('../../Assests/background-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.subscriber input:focus textarea {
  outline: none !important;
  outline-offset: 0;
  box-shadow: none;
  border: 2px solid #e9cbcb;
}

.detail-form input:focus textarea:focus {
  outline: none !important;
  outline-offset: 0;
  box-shadow: none;
  border: 2px solid #e9cbcb;
}